* {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #37ff00;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#adminDiv {
  text-align: center;
}

#adminButton {
  position: relative;
  top: 160px;
}

#usernameDiv {
  position: relative;
  top: 60px;
}

#passwordDiv {
  position: relative;
  top: 60px;
}

#submitButton {
  position: relative;
  top: 70px;
}
#welcomeOptionsDiv {
  position: relative;
  top: 40px;
  text-align: center;
}
.or {
  padding: 15px;
}
#loginDiv{
  text-align: center;
  display: none;
}
#loggedIn{
  display: none;
}
#notLoggedIn{
  float:right;
  position: absolute;
  color: rgb(0,160,255);
  top: 0%;
  left: 1%;
}
